<app-navbar-usuario></app-navbar-usuario>


<h1>Mis mascotas publicadas en adopción</h1>

<div class="container text-center">
  <p *ngIf="cargando">Cargando mascotas...</p>

  <div class="row">
    
    @for (mascota of mascotas; track mascota.uid) {

      <div class="col-12 col-md-4">
      
        <div class="card g-2 w-100">
          <img [src]="mascota.urlImagen" class="card-img-top" [alt]="mascota.nombre">
          <div class="card-body">
            <h5 class="card-title">{{mascota.nombre}}</h5>
            <a [routerLink]="['/modificar-mascota', mascota.uid]" class="btn btn-primary">Editar</a>
            <button type="button" class="btn btn-danger">Borrar</button>
          </div>
        </div>
      
      </div>

    }


  </div>
</div>