<div class="container-sm p-0 vh-100">

    <div class="banner bg-info p-24">
        
    </div>

    <div class="login">
        <h2>Editar perfil</h2>
        <form [formGroup]="formularioEditarUsuario" (ngSubmit)="onSubmit()">

            <div class="mb-3">
                <input formControlName="nombreCompleto" type="text" class="form-control" placeholder="Nombre completo" >
            </div>

            <div class="input-group mb-3">
                <input formControlName="celular" type="number" class="form-control" placeholder="Celular +54 9 2604030345" >
                
                <select formControlName="tieneWhatsapp"
                class="dropdown-toggle ms-1 input-whatsapp" name="whatsapp" required>
                <option class="dropdown-item" value="" disabled selected> ¿Tenés Whatsapp?</option>
                <option class="dropdown-item" value="true">Tengo Whatsapp</option>
                <option class="dropdown-item" value="false">No tengo Whatsapp</option>
                </select>
            </div>

            <div class="mb-3">
              
                <!--Provincia-->
                <select formControlName="provincia" class="dropdown-toggle input-whatsapp w-100">
                    <option class="dropdown-item" value="" disabled selected>Provincia</option>
                    <option class="dropdown-item" *ngFor="let provincia of provincias" [ngValue]="provincia">{{provincia}}</option>
                </select>
 
            </div>
            
            <div class="mb-3">
                <!--Departamento-->
                <select 
                formControlName="departamento" 
                class="dropdown-toggle ms-1 input-whatsapp w-100"
                
                >
                    <option class="dropdown-item" value="" disabled selected>Departamento</option>
    
                    <option class="dropdown-item" *ngFor="let departamento of departamentos" [ngValue]="departamento">{{departamento}}</option>
                </select>
            </div>


            <div class="registrar d-flex justify-content-center gap-3">
                <a routerLink="/editar-password">Cambiar contraseña</a>
            </div>
            

            <div class="mb-3">
                <button type="submit" class=" btn iniciar-sesion">Guardar y salir</button>
            </div>

        </form>

    <button [routerLink]="'../mascotas-adopcion'"
    type="button"
    class="boton-cerrar"
    ><i class="bi bi-x"></i>Volver</button>

    </div>

</div>