<div class="container-sm p-0 vh-100">

    <div class="banner bg-info p-24">
        
    </div>

    <div class="login">
        <h2>Cambiar contraseña</h2>
        <form [formGroup]="formularioEditarPassword" (ngSubmit)="actualizarPassword()">

            <div class="mb-3">
                <input formControlName="currentPassword" type="text" class="form-control" placeholder="Contraseña actual">
            </div>
            
            <div class="mb-3">
                <input formControlName="newPassword" type="text" class="form-control" placeholder="Nueva contraseña">
            </div>


            <div class="mb-3">
                <input formControlName="repeteadedNewPassword" type="text" class="form-control" placeholder="Repetir nueva contraseña">
            </div>


            <div class="mb-3">
                <button type="submit" class=" btn iniciar-sesion">Guardar y salir</button>
            </div>

        </form>

        <button
        type="button" [routerLink]="'../mascotas-adopcion'"
        class="boton-cerrar"><i class="bi bi-x"></i>Volver</button>

    </div>

</div>