<div class="navbar container-sm">

    <div class="container-fluid justify-content-between" *ngIf="usuarioActual">

        <a class="navbar-brand" href="#">
            <img src="assets/isotipo.png" alt="Logo" height="63">
        </a>

        <span class="text-white text-center">{{usuarioActual.nombreCompleto}}</span>

        <a type="button" class="navbar-brand" data-bs-toggle="modal" data-bs-target="#modalUsuario">
            <img [src]="usuarioActual.urlImagenPerfil==null ? 'assets/perfil.png' : usuarioActual.urlImagenPerfil" alt="Imagen perfil" height="63" class="rounded-circle">
        </a>

    </div>

</div>


<!-- Modal -->
<div class="modal fade" id="modalUsuario" tabindex="-1" *ngIf="usuarioActual">
    <div class="modal-dialog modal-xs">
      <div class="modal-content">
        <!--Importante usar data-bs-dismiss="modal" si no queda el modal abierto -->

        <div
          class="d-flex flex-column justify-content-center w-90 gap-2 text-center "
          style="margin-top: 16px"
        >
          <!--Info usuario-->

          <img [src]="usuarioActual.urlImagenPerfil==null ? 'assets/perfil.png' : usuarioActual.urlImagenPerfil" class="rounded-circle"/>

          <div class="container">
            <p class="fw-bold fs-3">{{usuarioActual.nombreCompleto}}</p>
          </div>

          <!--Botones-->
          <div class="d-flex flex-column justify-content-center gap-2">
            <a
              routerLink="/mascotas-adopcion"
              type="button"
              class="btn boton"
              data-bs-dismiss="modal"
            >
              Mascotas publicadas
          </a>

            <a
            routerLink="/editar-perfil"
              type="button"
              class="btn boton"
              data-bs-dismiss="modal"
            >
              Editar perfil
            </a>

            <button
              (click)="cerrarSesion()"
              type="button"
              class="btn boton-cerrar-sesion "
              data-bs-dismiss="modal"
            >
              Cerrar Sesión
            </button>

            <button
              type="button"
              class="boton-cerrar"
              data-bs-toggle="modal"
              data-bs-target="#modalUsuario"
            ><i class="bi bi-x"></i>Cerrar</button>
          </div>
        </div>
      </div>
    </div>
</div>