.navbar{
    display: flex;
    width: 100%;
    justify-content: center;
}

.container-sm {
    border-radius: 48px;
    background: var(--Black, #222);
    width: 95%;
    height: 95px;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    margin-top: 48px;
  
    flex-shrink: 0;
  }
  
  .sticky-top {
    top: 48px;
  }
  
  .btn-ingreso {
    background-color: #e5a700 !important;
    border-radius: 32px !important;
  }
  
  .container-fluid {
    display: flex;
    align-items: center;
    height: 100%;
  }
  
  .navbar-brand {
    display: flex;
    align-items: center;
    height: 100%;
  }
  

  
  .btn{
    min-height: 48px;
  }
  

  .boton-cerrar {
    border-radius: 48px !important;
    border-color: transparent;
    background-color: transparent !important;
    display: flex;

    margin-top: 12px;
    padding: 8px 16px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    color: black;
  }

  .boton-cerrar:hover{
    background-color: transparent !important;
  }
  
  .boton {
    border-radius: 48px !important;
  
    /* shadow buttons */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      -12px 28px 8px 0px rgba(0, 0, 0, 0), -8px 18px 8px 0px rgba(0, 0, 0, 0.03),
      -4px 10px 7px 0px rgba(0, 0, 0, 0.1), -2px 4px 5px 0px rgba(0, 0, 0, 0.17);
    background: #e5a700 !important;
    padding: 8px 16px;
  }
  
  .boton-cerrar-sesion{
    border-radius: 48px !important;
  
    /* shadow buttons */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      -12px 28px 8px 0px rgba(0, 0, 0, 0), -8px 18px 8px 0px rgba(0, 0, 0, 0.03),
      -4px 10px 7px 0px rgba(0, 0, 0, 0.1), -2px 4px 5px 0px rgba(0, 0, 0, 0.17);
    background: #dc3545;
    padding: 8px 16px;
  }

.modal-content {
    padding: 0px 80px 10px 80px;
}