.navbar-toggler{
    filter: invert(1);
}

#navbarNav{
    background-color: red;
}

.boton {
    border-radius: 48px !important;
  
    /* shadow buttons */
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
      -12px 28px 8px 0px rgba(0, 0, 0, 0), -8px 18px 8px 0px rgba(0, 0, 0, 0.03),
      -4px 10px 7px 0px rgba(0, 0, 0, 0.1), -2px 4px 5px 0px rgba(0, 0, 0, 0.17);
    background: #e5a700 !important;
    padding: 8px 16px;
  }

.container-sm{
    border-radius: 48px;
    background: var(--Black, #222);
    width: 95%;
    height: 95px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 16px 18px 16px 16px;
    margin-top: 48px;

    flex-shrink: 0;
}

.sticky-top{
    top:48px;
}

.btn-ingreso{
    background-color: #E5A700;
    border-radius: 32px;
}

.container-fluid{
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-brand{
    display: flex;
    align-items: center;
    height: 100%;
}
