<swiper-container 
    pagination="true" effect="coverflow" grab-cursor="true" centered-slides="true"
    slides-per-view="1.3" coverflow-effect-rotate="50" coverflow-effect-stretch="0" coverflow-effect-depth="100"
    coverflow-effect-modifier="1" coverflow-effect-slide-shadows="true">
    <swiper-slide *ngFor="let pet of pets">
      <img [src]="pet.image" />
    </swiper-slide>
  </swiper-container>

<div class="botones">
  <div class="adoptar">Adoptar</div>
  <img src="../../../assets/huella.png" alt="">
</div>